<!DOCTYPE html>
<html>
    
	<head>
        <!-- <base href = "http://localhost/"/> -->
        <link type="text/css" rel="stylesheet" href="stylesheet.css">
        <!-- javascript -->
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../plugin/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="../plugin/tinymce/init-tinymce.js"></script>
        <script type="text/javascript" src="../Controller/editorController.js"></script>
        <script type="text/javascript" src="../Model/VocabularySets.js"></script>
        <script type="text/javascript" src="../View/templates.js"></script>
		<title>Editor|Knowledge Assistant</title>
	</head>
	<body>
        <nav>
            <img src="#" alt= "Knowledge Assistant Logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href = "Editor.html">Editor</a></li>
                <li><a href = "Resources.html">Resources</a></li>
                <li><a href = "Profile.html">Profile</a></li>
            </ul>
        </nav>
        
        <header>
        </header>

        <main>
            <div class="view">
            <section id="editor">
                <!-- <h1>Word Editor - TinyMCE</h1> -->
                <form id="editor" method="POST">
                    <textarea class="tinymce" id = "textEditor"></textarea>
                </form>
                <button onclick="javascript:makeTemplate(flashcardTemplate)">Flashcard</button>
                <button onclick = "javascript:makeTemplate(dragTheWordTemplate)">Match the word</button>
                <button onclick = "javascript:makeTemplate(fillTheBlankTemplate)">Fill in the blank</button>
                <button onclick = "javascript:addTemplate(fillTheBlankTemplate)">add another file</button><!--//TODO delete-->

                <!-- <form>
                    <p>File Name:</p>
                    <input type="text" name = "fileName">
                    <input type="submit" name = "Save">
                    <button>Save</button>
                </form> -->
            </section>

            <section class="flashcard">
                <!--Templated will be inserted here-->

            </section>
            </div>
            
            
        </main>

        <footer>
        </footer>

		

		
	</body>
</html>

