<!DOCTYPE html>

<html>
    <head>
        <!--<base href = "http://localhost/html/"/>-->
        <link rel = "stylesheet" href = "stylesheet.css" />
            
        <title>Home|Knowledge Assistant</title>
        
    </head>
    <body>
        <nav>
            <img src="#" alt= "Knowledge Assistant Logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href = "Editor.html">Editor</a></li>
                <li><a href = "Resources.html">Resources</a></li>
                <li><a href = "Profile.html">Profile</a></li>
            </ul>
        </nav>
        <h1>Welcome this is the knowledge assistant.</h1>
        <p>
            The reason for this website is to make an enviroment where we can decrease the delta in the current learning absorption of information.
            We will be doing this by making an open enviroment to test,  creat and make easy learning aids from existing class notes.
            Thus this website will focus on the following:
            <ul>
                    <li>Additive or specialized content creation</li>
                    <li>Content verification through crowdsourcing</li>
                    <li>Easy learning aid creation and analysis</li>
            </ul>
        </p>
    </body>
</html>