<!DOCTYPE html>

<html>
    <head>
        <script src="scripts.js"></script>
        <!--<base href = "http://localhost/html/"/>-->
        <link rel = "stylesheet" href = "stylesheet.css" />
        <script type="text/javascript" src="../View/templates.js"></script>
        <title>Profile|Knowledge Assistant</title>
        
    </head>
    <body>
        <nav>
            <img src="#" alt= "Knowledge Assistant Logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href = "Editor.html">Editor</a></li>
                <li><a href = "Resources.html">Resources</a></li>
                <li><a href = "Profile.html">Profile</a></li>
            </ul>
        </nav>
        <h1>WIP - Profile</h1>
        <p>
            In this section you will see the user information, 
            alongside with branches managing, content created and other statistics.
        </p>
    </body>
</html>