<!DOCTYPE html>
<html>
    
	<head>
        <!-- <base href = "http://localhost/"/> -->
        <link type="text/css" rel="stylesheet" href="stylesheet.css">
        <!-- javascript -->
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../plugin/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="../plugin/tinymce/init-tinymce.js"></script>
        <script type="text/javascript" src="../Controller/editorController.js"></script>
        <script type="text/javascript" src="../Controller/resourcesController.js"></script>
        <script type="text/javascript" src="../Model/jsonFolders.js"></script>
        <script type="text/javascript" src="../Model/VocabularySets.js"></script>
        <script type="text/javascript" src="../View/templates.js"></script>
        <script type="text/javascript" src="../Controller/quizController.js"></script>
		<title>Editor|Knowledge Assistant</title>
	</head>
	<body onload="temporary();"><!-- 
        The core Firebase JS SDK is always required and must be listed first
        <script src="/__/firebase/7.2.2/firebase-app.js"></script>

        TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries 
        <script src="/__/firebase/7.2.2/firebase-analytics.js"></script>

        Initialize Firebase 
        <script src="/__/firebase/init.js"></script>-->

        <nav>
            <img src="#" alt= "Knowledge Assistant Logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href = "Editor.html">Editor</a></li>
                <li><a href = "Resources.html">Resources</a></li>
                <li><a href = "Profile.html">Profile</a></li>
            </ul>
        </nav>
        
        <header>
        </header>

        <main class = "quiz">

            <section class="flashcard">
                <!--Insert Template one at a time-->
            </section>
            
        </main>

        <footer>
        </footer>

	</body>
</html>

