<!DOCTYPE html>

<html>
    
    <head>
        <link rel = "stylesheet" href = "stylesheet.css" />
        <script type="text/javascript" src="../Controller/editorController.js"></script>
        <script type="text/javascript" src="../Controller/resourcesController.js"></script>
        <script type="text/javascript" src="../Model/jsonFolders.js"></script>
        <script type="text/javascript" src="../View/templates.js"></script>

        <title>Resources|Knowledge Assistant</title>
    </head>
    
    <body onload="insertFolders()">
        <nav>
            <img src="#" alt= "Knowledge Assistant Logo">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href = "Editor.html">Editor</a></li>
                <li><a href = "Resources.html">Resources</a></li>
                <li><a href = "Profile.html">Profile</a></li>
            </ul>
        </nav>

        <article>
            <section>
                <h1>WIP - Resources</h1>
                <p>
                    In this section you will be able to search and find content, by course, book(ISBN) or text.
                </p>
                <form style = "margin:0px 2% 0px 2%;display: inline; text-align: center; ">
                    <input name = "search" type="text" style="width:75%;height: 24px" >
                    <button name = "search" style="width:18%;height: 30px">Search</button>
                </form>
            </section>
                
            <section class = "folders">
                <!--Folder Inserted-->
            </section>
        </article>
    </body>
</html>